
* {
    box-sizing: border-box;
}


.container {
    border: solid blue;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.column{
    flex: auto;
    
}

.row{
    border: 0px solid aqua;
    
}
